//----- Шрифты -----------------------------------------------------------
$font_family: 'Poppins', sans-serif; // Шрифт по-умолчанию
$font_color: #262626; // Цвет шрифта по-умолчанию
$font_size: 16px;
$fs-main-title: 2.2rem;
$fs-main-title-mobile: 2rem;
$fs-block-title: 1.8rem;
$fs-sub-title: 1.5rem;
//----- /Шрифты -----------------------------------------------------------

$theme_color_1: #9C9C42; // Цвет шрифта по-умолчанию
$theme_color_1_dark: #7a7a34; // Цвет шрифта по-умолчанию
$theme_color_half:rgba(156, 156, 66, 0.247); // Цвет шрифта по-умолчанию
$theme_shadow_color: #afafaf;